################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FlipSwap/v16
/Library
/Logs
/obj/Debug
/Temp
